/* FUENTES TIPOGRAFÍAS. */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* VARIABLES CSS (Tema color por defecto) */
body {
  --bg-color: #fff;
  --text-color: #212529;
  --navbar-color: #44475a;
  --card-bg-color: #979dbd2b;
  --footer-bg-color: var(--card-bg-color);
  --transition-delay: 1s;
  --nunito-font: "Nunito", sans-serif;

  transition: var(
    --transition-delay
  ); /* Duración de la animación al cambiar de tema. */

  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

/* TEMA OSCURO */
body.dark {
  /* Modificamos las variables para adaptar al tema oscuro. */
  --bg-color: #282a36;
  --text-color: #f8f8f2;
  --card-bg-color: #44475a;
  --footer-bg-color: rgba(0, 0, 0, 0.4);
}

/* PROPIEDADES NAVBAR */
.navbar {
  margin-bottom: 1.5em !important;
  background-color: var(--navbar-color) !important;
}

.navbar-brand {
  font-family: var(--nunito-font);
  font-weight: 800;
  line-height: 1.212em;
}

.nav-item {
  margin-left: 0.5em !important;
}

.navbar-dark .navbar-nav .nav-link .navbar-text {
  color: rgba(255, 255, 255, 0.68) !important;
}

.nav-item:hover {
  color: white;
  box-shadow: 1px solid #282a36;
}

.dropdown-menu {
  background-color: var(--navbar-color) !important;
  border: 1px solid #fff !important;
}

.dropdown-item {
  color: whitesmoke !important;
}

.dropdown-item:hover {
  background-color: var(--footer-bg-color) !important;
}

/* Alinear el botón switch con el resto de elementos del navbar. */
.custom-control {
  line-height: 7px;
}
/* PROPIEDADES NAVBAR END */

h3,
p,
label {
  font-family: var(--nunito-font);
  font-weight: 400;
}

h3 {
  letter-spacing: 0.01em;
}

.center {
  text-align: center;
  width: 100%;
}

.features-title,
.images-title,
.downloads-title,
.contact-title {
  margin-top: 0.775em;
  margin-bottom: 0.775em;
  font-family: var(--nunito-font);
  font-weight: 800;
  line-height: 1.212em;
}

img {
  padding: 0.25em;
  border-radius: 0.7em;
}

/* PROPIEDADES CAROUSEL (COLORES ICONOS). */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-indicators li {
  background-color: #716767 !important;
}

/* Cards AppStore y GitHub. */
.custom-card {
  margin: 0 auto;
  background-color: var(--card-bg-color);
  border-radius: 2.5rem;
}

a:link {
  text-decoration: none !important;
}

/* PROPIEDADES FORMULARIO */
/* Color del texto input en el formulario. */
.form-control {
  color: #3d4144;
}

/* Anchura del color de los bordes cuando son validados. */
.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
  border-width: 2px;
}

.footer-bg {
  background-color: var(--footer-bg-color);
  font-family: var(--nunito-font);
}

/* BOTONES Y EFECTOS HOVER. */
.btn-shrink {
  text-align: center;
  font-weight: 600;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0) transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transform: perspective(1px) translateZ(0); /* Usamos -webkit para asegurar compatibilidad en el navegador Safari. */
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.6s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.btn-shrink:hover,
.btn-shrink:focus,
.btn-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.btn-underline {
  text-align: center;
  font-weight: 600;
  user-select: none;
  border: 1px solid white transparent;
  padding: 0.375rem 0.95rem;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.btn-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #f8f8f2;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-underline:hover:before,
.btn-underline:focus:before,
.btn-underline:active:before {
  left: 0;
  right: 0;
}

/* ANIMACIONES CUSTOM. */
h1,
h2 {
  animation: titles-anim 400ms ease-in 400ms;
  animation-fill-mode: forwards;
  transform: translateY(-0.5em);
  opacity: 0;
}

.fade-anim {
  animation: fade-anim 300ms ease-in 600ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes titles-anim {
  0% {
    transform: translateY(-0.5em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* MEDIA QUERIES. */
/* Ocultar caroussel y mostrar grid a partir de 768px porque ya se considera vista tablet. */
@media (min-width: 768px) {
  .container-mobile {
    display: none;
  }
}

/* Ocultar grid y mostrar caroussel cuando la anchura es de tamanño móvil. */
@media (max-width: 768px) {
  .container-tablet-desktop {
    display: none;
  }
}
